@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$bg-color: $gray-200;
$font-color: #FFFFFF;
$border-color: 1px #000000 solid;
$font-outline: #000000

h1  {
  color: $font-color;
  text-align: center;
  text-shadow: -1px -1px 0 $font-outline, 1px -1px 0  $font-outline, -1px 1px 0  $font-outline, 1px 1px 0  $font-outline;
}

p {
  justify-content: center;
  margin: 0 auto;
}

.board {
 background-color: $bg-color;
 padding: 1% 0 7% 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.col-4 {
  border: $border-color;
  width: 28%;
  padding-top: 28%;
  font-size: 30;
  color: $font-color;
  text-align: center;
  text-shadow: -1px -1px 0 $font-outline, 1px -1px 0  $font-outline, -1px 1px 0  $font-outline, 1px 1px 0  $font-outline;
}
