@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$bg-color: #c5fcdb;
$font-color: #FFFFFF;
$border-color: 1px #000000 double;
$font-outline: #000000;
$cell-dimensions: 28vw;
$text-shadow: -1px -1px 0 $font-outline, 1px -1px 0  $font-outline, -1px 1px 0  $font-outline, 1px 1px 0  $font-outline;
$alt-border: 3px #2dba86 ridge;
$alt-bg-color: #e1f7ef;

h1  {
  color: $font-color;
  text-align: center;
  text-shadow: $text-shadow;
}

.board {
 border: $alt-border;
 margin: 3% 4% 0 4%;
 padding: 1% 0 7% 0;
 background: $alt-bg-color;
}

.container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.col-4 {
  align-content: space-around;
  background: $bg-color;
  border: $border-color;
  color: $font-color;
  width: $cell-dimensions;
  height: same-as-width;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 28%;
  resize: none;
  text-align: center;
  text-shadow: $text-shadow;
}

#title {
  border-bottom: $border-color;
}

#communication {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#FormFields {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 5vw 0 5vw;
}
